@font-face {
  font-family: 'ADAM.CG PRO';
  src: url('ADAM.CG PRO.otf');
}

body {
	background-color: #333333 !important;
}

hr {
	border-color: #9EC0C9 !important;
}

.well {
	background-color: #212121 !important;
	border: None !important;
}

.searchForm {
	color: #8CABB3 !important;
	background-color: #212121 !important;
	border: None !important;
	border-radius: 0px !important;
	border-bottom: 2px solid #8CABB3 !important;
}

.searchForm:focus {
	outline: None !important;
	box-shadow: None !important;
}

.jumbotron {
	padding-top: 10px !important;
	background-color: #333333 !important;
}

.navbar-inverse {
	background-color: #212121 !important;
	border: None !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #9d9d9d !important;
	background-color: #212121 !important;
	border: 1px solid #212121 !important;
}

.nav-tabs > li > a:hover {
	color: #9d9d9d !important;
	background-color: #195463 !important;
	border: 1px solid #195463 !important;
}

.nav-tabs > li > a {
	color: #9d9d9d !important;
}

.nav-tabs {
	border-bottom: None !important;
}

.my-form-control {
	border-radius: 2px !important;
	background-color: #123D47 !important;
	color: #9EC0C9 !important;
	border: none !important;
	border-bottom: 1px solid #829EA6 !important;
}

.my-form-control:focus {
	font-weight: bolder;
	border-bottom: 2px solid #829EA6 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.my-form-control::-moz-placeholder {
  color: #829EA6 !important;
  opacity: 1;
}
.my-form-control:-ms-input-placeholder {
  color: #829EA6 !important;
}
.my-form-control::-webkit-input-placeholder {
  color: #829EA6 !important;
}

.has-success .form-control-feedback {
  color: #1BB4DC !important;
}

.has-success .form-control {
  border-color: #1BB4DC !important;
}
.has-success .form-control:focus {
  color: #1BB4DC !important;
  border-color: #1BB4DC !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.has-warning .form-control-feedback {
  color: #F8B328 !important;
}

.has-warning .form-control {
  border-color: #F8B328 !important;
}
.has-warning .form-control:focus {
  color: #F8B328 !important;
  border-color: #F8B328 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.modal-content {
  background-color: #123D47 !important;
  border-radius: 2px !important;
}


.formBtn {
	color: #9EC0C9;
	background-color: #195463;
	border-radius: 1px;
	border: none !important;
}

.formBtn:hover {
	color: #1BB4DC;
	background-color: #1C5F70;
	border-color: #1BB4DC;
	border-radius: 1px;
}

.formBtn:focus {
	color: #9EC0C9 !important;
}

.formBtn-success {
	color: #195463;
	background-color: #1BB4DC;
	border-radius: 1px;
}

.loginForm {
	margin-top: 8%;
	background-color: #123D47;
	padding-bottom: 15px;
	padding-top: 15px;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.signupForm {
	background-color: #123D47;
	margin-top: 8%;
	padding-bottom: 15px;
	padding-top: 15px;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.formHeading {
	font-family: 'ADAM.CG PRO';
	margin-left: 3%;
	font-size: 27px;
	color: #9EC0C9;
}

.tile {
	background-color: #195463;
	border-radius: 2px;
	margin-bottom: 25px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.2s, background-color 0.2s;
}

.tile-clicked {
	background-color: #632819;
	box-shadow: 0 2px 4px 0 #6A2A2A, 0 2px 10px 0 #6A2A2A;
	transition: box-shadow 0.2s, background-color 0.2s;
}

.tile-highlighted {
	background-color: #19631B;
	box-shadow: 0 2px 4px 0 #2A6A2C, 0 2px 10px 0 #2A6A2C;
	transition: box-shadow 0.2s, background-color 0.2s;
}

.tile:hover {
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.tile-clicked:hover {
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 #6A2A2A, 0 6px 20px 0 #6A2A2A;
}

.tile-highlighted:hover {
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 #2A6A2C, 0 6px 20px 0 #2A6A2C;
}
.tile-title {
	width: 100%;
	background-color: #195463;
	color: #9EC0C9;
	font-family: 'ADAM.CG PRO';
	margin-left: 25px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 3px;
	border: none;
	transition: background-color 0.2s, color 0.2s;
}

.tile-title::-moz-placeholder {
  color: #9EC0C9;
  opacity: 1;
}
.tile-title:-ms-input-placeholder {
  color: #9EC0C9;
}
.tile-title::-webkit-input-placeholder {
  color: #9EC0C9;
}

.tile-title-clicked {
	background-color: #632819 !important;
	color: #C9A39E !important;
}

.tile-title-clicked::-moz-placeholder {
  color: #C9A39E !important;
  opacity: 1;
}
.tile-title-clicked:-ms-input-placeholder {
  color: #C9A39E !important;
}
.tile-title-clicked::-webkit-input-placeholder {
  color: #C9A39E !important;
}

.tile-title-highlighted {
	background-color: #19631B !important;
	color: #9EC99F !important;
}

.tile-title-highlighted:focus {
	outline: none !important;
}

.tile-title-highlighted:focus::-moz-placeholder {
  color: transparent !important;
  opacity: 1;
}
.tile-title-highlighted:focus:-ms-input-placeholder {
  color: transparent !important;
}
.tile-title-highlighted:focus::-webkit-input-placeholder {
  color: transparent !important;
}

.tile-title-highlighted::-moz-placeholder {
  color: #9EC99F !important;
  opacity: 1;
}
.tile-title-highlighted:-ms-input-placeholder {
  color: #9EC99F !important;
}
.tile-title-highlighted::-webkit-input-placeholder {
  color: #9EC99F !important;
}

.tile-row {
	background-color: #195463;
	color: #9EC0C9;
	width: 100%;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 12px;
	border: none;
	border-bottom: solid 1px #9EC0C9;
	transition: border-bottom 0.2s, background-color 0.2s, color 0.2s;;
}

.tile-row::-moz-placeholder {
  color: #9EC0C9;
  opacity: 1;
}
.tile-row:-ms-input-placeholder {
  color: #9EC0C9;
}
.tile-row::-webkit-input-placeholder {
  color: #9EC0C9;
}

.tile-row-clicked {
	background-color: #632819 !important;
	color: #C9A39E !important;
	border-bottom: solid 1px #C9A39E !important;
}

.tile-row-clicked::-moz-placeholder {
  color: #C9A39E !important;
  opacity: 1;
}
.tile-row-clicked:-ms-input-placeholder {
  color: #C9A39E !important;
}
.tile-row-clicked::-webkit-input-placeholder {
  color: #C9A39E !important;
}

.tile-row-highlighted {
	background-color: #19631B !important;
	color: #9EC99F !important;
	border-bottom: solid 1px #9EC99F !important;
}

.tile-row-highlighted {
	outline: none !important;
}

.tile-row-highlighted:focus::-moz-placeholder {
  color: transparent !important;
  opacity: 1;
}
.tile-row-highlighted:focus:-ms-input-placeholder {
  color: transparent !important;
}
.tile-row-highlighted:focus::-webkit-input-placeholder {
  color: transparent !important;
}

.tile-row-highlighted::-moz-placeholder {
  color: #9EC99F !important;
  opacity: 1;
}
.tile-row-highlighted:-ms-input-placeholder {
  color: #9EC99F !important;
}
.tile-row-highlighted::-webkit-input-placeholder {
  color: #9EC99F !important;
}

.tile-footer {
	background-color: #195463;
	color: #9EC0C9;
	width: 100%;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 12px;
	border: none;
	transition: background-color 0.2s, color 0.2s;
}

.tile-footer::-moz-placeholder {
  color: #9EC0C9;
  opacity: 1;
}
.tile-footer:-ms-input-placeholder {
  color: #9EC0C9;
}
.tile-footer::-webkit-input-placeholder {
  color: #9EC0C9;
}

.tile-footer-clicked {
	background-color: #632819 !important;
	color: #C9A39E !important;
}

.tile-footer-clicked::-moz-placeholder {
  color: #C9A39E !important;
  opacity: 1;
}
.tile-footer-clicked:-ms-input-placeholder {
  color: #C9A39E !important;
}
.tile-footer-clicked::-webkit-input-placeholder {
  color: #C9A39E !important;
}

.tile-footer-highlighted {
	background-color: #19631B !important;
	color: #9EC99F !important;
}

.tile-footer-highlighted:focus {
	outline: none !important;
}

.tile-footer-highlighted:focus::-moz-placeholder {
  color: transparent !important;
  opacity: 1;
}
.tile-footer-highlighted:focus:-ms-input-placeholder {
  color: transparent !important;
}
.tile-footer-highlighted:focus::-webkit-input-placeholder {
  color: transparent !important;
}

.tile-footer-highlighted::-moz-placeholder {
  color: #9EC99F !important;
  opacity: 1;
}
.tile-footer-highlighted:-ms-input-placeholder {
  color: #9EC99F !important;
}
.tile-footer-highlighted::-webkit-input-placeholder {
  color: #9EC99F !important;
}

.lock-icon {
	color: #9EC0C9;
	padding-top: 6px;
}

.lock-icon-clicked {
	color: #C9A39E;
	padding-top: 6px;
}

.lock-icon-highlighted {
	color: #9EC99F;
	padding-top: 6px;
}

.snackbar {
    visibility: hidden;
    background-color: Tomato;
    color: DarkRed;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    z-index: 1;
    bottom: 30px;
    margin: 0 auto;
    border: 1px solid;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

.snackbar.hide {
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
